<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mbg.wolf.dao.mapper.ConsumptionMapper" >
  <resultMap id="BaseResultMap" type="mbg.wolf.model.Consumption" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="consumption_type" property="consumptionType" jdbcType="INTEGER" />
    <result column="consumption_amount" property="consumptionAmount" jdbcType="DECIMAL" />
    <result column="consumption_time" property="consumptionTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="serical_number" property="sericalNumber" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="current_amount" property="currentAmount" jdbcType="DECIMAL" />
    <result column="other_pay_amount" property="otherPayAmount" jdbcType="DECIMAL" />
    <result column="other_pay_type" property="otherPayType" jdbcType="INTEGER" />
    <result column="other_reward_amount" property="otherRewardAmount" jdbcType="DECIMAL" />
    <result column="other_award_amount" property="otherAwardAmount" jdbcType="DECIMAL" />
    <result column="other_pay_award" property="otherPayAward" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_id, consumption_type, consumption_amount, consumption_time, status, 
    serical_number, remark, deleted, user_type, current_amount, other_pay_amount, other_pay_type, 
    other_reward_amount, other_award_amount, other_pay_award
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from m_consumption_info
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from m_consumption_info
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mbg.wolf.model.Consumption" >
    insert into m_consumption_info (order_id, user_id, consumption_type, 
      consumption_amount, consumption_time, status, 
      serical_number, remark, deleted, 
      user_type, current_amount, other_pay_amount, 
      other_pay_type, other_reward_amount, other_award_amount, 
      other_pay_award)
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{consumptionType,jdbcType=INTEGER}, 
      #{consumptionAmount,jdbcType=DECIMAL}, #{consumptionTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{sericalNumber,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleted,jdbcType=TINYINT}, 
      #{userType,jdbcType=VARCHAR}, #{currentAmount,jdbcType=DECIMAL}, #{otherPayAmount,jdbcType=DECIMAL}, 
      #{otherPayType,jdbcType=INTEGER}, #{otherRewardAmount,jdbcType=DECIMAL}, #{otherAwardAmount,jdbcType=DECIMAL}, 
      #{otherPayAward,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="mbg.wolf.model.Consumption" >
    insert into m_consumption_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="consumptionType != null" >
        consumption_type,
      </if>
      <if test="consumptionAmount != null" >
        consumption_amount,
      </if>
      <if test="consumptionTime != null" >
        consumption_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sericalNumber != null" >
        serical_number,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="currentAmount != null" >
        current_amount,
      </if>
      <if test="otherPayAmount != null" >
        other_pay_amount,
      </if>
      <if test="otherPayType != null" >
        other_pay_type,
      </if>
      <if test="otherRewardAmount != null" >
        other_reward_amount,
      </if>
      <if test="otherAwardAmount != null" >
        other_award_amount,
      </if>
      <if test="otherPayAward != null" >
        other_pay_award,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="consumptionType != null" >
        #{consumptionType,jdbcType=INTEGER},
      </if>
      <if test="consumptionAmount != null" >
        #{consumptionAmount,jdbcType=DECIMAL},
      </if>
      <if test="consumptionTime != null" >
        #{consumptionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sericalNumber != null" >
        #{sericalNumber,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="currentAmount != null" >
        #{currentAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherPayAmount != null" >
        #{otherPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherPayType != null" >
        #{otherPayType,jdbcType=INTEGER},
      </if>
      <if test="otherRewardAmount != null" >
        #{otherRewardAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherAwardAmount != null" >
        #{otherAwardAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherPayAward != null" >
        #{otherPayAward,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mbg.wolf.model.Consumption" >
    update m_consumption_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="consumptionType != null" >
        consumption_type = #{consumptionType,jdbcType=INTEGER},
      </if>
      <if test="consumptionAmount != null" >
        consumption_amount = #{consumptionAmount,jdbcType=DECIMAL},
      </if>
      <if test="consumptionTime != null" >
        consumption_time = #{consumptionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sericalNumber != null" >
        serical_number = #{sericalNumber,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="currentAmount != null" >
        current_amount = #{currentAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherPayAmount != null" >
        other_pay_amount = #{otherPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherPayType != null" >
        other_pay_type = #{otherPayType,jdbcType=INTEGER},
      </if>
      <if test="otherRewardAmount != null" >
        other_reward_amount = #{otherRewardAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherAwardAmount != null" >
        other_award_amount = #{otherAwardAmount,jdbcType=DECIMAL},
      </if>
      <if test="otherPayAward != null" >
        other_pay_award = #{otherPayAward,jdbcType=DECIMAL},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mbg.wolf.model.Consumption" >
    update m_consumption_info
    set user_id = #{userId,jdbcType=VARCHAR},
      consumption_type = #{consumptionType,jdbcType=INTEGER},
      consumption_amount = #{consumptionAmount,jdbcType=DECIMAL},
      consumption_time = #{consumptionTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      serical_number = #{sericalNumber,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=TINYINT},
      user_type = #{userType,jdbcType=VARCHAR},
      current_amount = #{currentAmount,jdbcType=DECIMAL},
      other_pay_amount = #{otherPayAmount,jdbcType=DECIMAL},
      other_pay_type = #{otherPayType,jdbcType=INTEGER},
      other_reward_amount = #{otherRewardAmount,jdbcType=DECIMAL},
      other_award_amount = #{otherAwardAmount,jdbcType=DECIMAL},
      other_pay_award = #{otherPayAward,jdbcType=DECIMAL}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>